<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta name="description" content="Kassam Khakoo provides timely, accurate, and relevant data to support decision making.">
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="http://kassamkhakoo.com">kassamkhakoo.com</a></li>
				</ul>
			</footer>
		</body>
	</html>
